<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Appointment No</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Phone No</th>
            <th scope="col">Email</th>
            <th scope="col">DOB</th>
            <th scope="col">Time</th>
            <th scope="col">Flat Type </th>
            <th scope="col">Area</th>
            <th scope="col">State</th>
            <th scope="col">Pin</th>
            <th scope="col">City</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let bk of allBookings;let i=index">
            <th scope="row">{{ i+1 }}</th>
            <td>{{bk?.firstName}}</td>
            <td>{{bk?.lastName}}</td>
            <td>{{bk?.phonwNo}}</td>
            <td>{{bk?.email}}</td>
            <td>{{bk?.dob}}</td>
            <td>{{bk?.dot}}</td>
            <td>{{bk?.flatType}}</td>
            <td>{{bk?.area}}</td>
            <td>{{bk?.state}}</td>
            <td>{{bk?.pin}}</td>
            <td>{{bk?.city}}</td>
            <td><button (click)="onEdit(i)" class="btn btn-primary">Edit</button></td>
            <td><button (click)="onDel(i)" class="btn btn-danger">Delete</button></td>

        </tr>
    </tbody>
</table>