<div class="card">
  <div class="card-body">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a
        class="navbar-brand"
        [routerLink]="'/booking'"
        routerLinkActive="active"
      >
        Book Appointment
      </a>

      <a
        class="navbar-brand"
        [routerLink]="'/show-booking'"
        routerLinkActive="active"
      >
       Show Booking
      </a>
  
    </nav>
    <p class="card-text">
      <router-outlet></router-outlet>
    </p>
  </div>
</div>
