<div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 border p-4 shadow bg-light">
                <div class="col-12">
                    <h3 id="Booking_Label" class="fw-normal text-secondary fs-4 text-uppercase mb-4">
                        Apartment Booking Form
                    </h3>
                </div>
                <form [formGroup]="profileForm" (submit)="onSubmit()">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <input type="text" class="form-control" formControlName="firstName"
                                placeholder="First Name" />
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" formControlName="lastName"
                                placeholder="Last Name" />
                        </div>
                        <div class="col-md-6">
                            <input type="tel" class="form-control" formControlName="phonwNo"
                                placeholder="Phone Number" />
                        </div>
                        <div class="col-md-6">
                            <input type="email" class="form-control" formControlName="email"
                                placeholder="Enter Email" />
                        </div>
                        <div class="col-md-6">
                            <input type="date" class="form-control" formControlName="dob" placeholder="Enter Date" />
                        </div>
                        <div class="col-md-6">
                            <input type="time" class="form-control" formControlName="dot" placeholder="Enter Email" />
                        </div>
                        <div class="col-12">
                            <select class="form-select" formControlName="flatType">
                                <option selected>Choose Which flat do You want</option>
                                <option value="1BHK">1BHK</option>
                                <option value="2BHK">2BHK</option>
                                <option value="3BHk">3BHk</option>
                            </select>
                        </div>

                        <div class="row g-3">
                            <div class="col-md-6">
                                <input type="text" class="form-control" formControlName="area"
                                    placeholder="Enter Area" />
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" formControlName="city"
                                    placeholder="Enter City" />
                            </div>
                        </div>
                        <div class="row g-3">
                            <div class="col-md-6">
                                <input type="text" class="form-control" formControlName="pin"
                                    placeholder="Enter Pin Code" />
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" formControlName="state"
                                    placeholder="Enter state" />
                            </div>
                        </div>

                        <div class="col-12 mt-5">
                            <button type="submit" class="btn btn-primary float-end">
                                {{ bkServ.selectedBookIndex ===null ?'Book Appointment':'Update Appointment'
                                }} </button>
                            <button type="button" class="btn btn-outline-secondary float-end me-2">
                                Cancel
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>